Repository AlmaLinux/almalinux.org, pull requests merged in 2024-04, with the labels that each got.

#510 Use relLangURL for most href
  layouts/ato-2023/single.html
  layouts/contribute/single.html
  layouts/index.html
  layouts/members/single.html
  layouts/partials/common/nav.html
  layouts/security/single.html
Labels: enhancement

#516 Add redirect to account for /<lang>/contribute
  _redirects
Labels: bug

#506 New blog post on contribution to the website translation
  content/blog/2024-04-22-why-I-wanted-to-help-translating-the-AlmaLinux-website-to-Hebrew.md
  static/blog-images/2024/weblate-translate-website-to-hebrew.jpg
  static/users/noam.jpeg
Labels: blog post

#521 ELevate CentOS 6 to CentOS 7 blog post
  content/blog/2024-04-25-elevate-supports-centos-6-to-centos-7.md
  static/blog-images/2024/2024-04-23-centos6-to-centos7.png
  static/users/yuriy-kohut.jpg
Labels: Staged, blog post
