Repository AlmaLinux/almalinux.org, pull requests merged in 2024-09, with the labels that each got.

#609 Add blog post: Bringing bootc to AlmaLinux
  content/blog/2024-09-02-bootc-almalinux-heliumos.md
  static/blog-images/2024/2024-08-09-bootc-almalinux.png
  static/users/imbev.jpg
Labels: Staged, blog post

#644 Updating the FAQs and adding a couple redirects
  _redirects
  layouts/index.html
Labels: enhancement

#636 Newsletter display improvements
  assets/css/bundle.css
  i18n/en.json
  layouts/partials/common/newsletter.html
Labels: bug, enhancement

#650 ELevate updates blog post
  content/blog/2024-09-24-elevate-updates.md
  static/blog-images/2024/2024-09-19-elevate-updates.png
Labels: Staged, blog post
